/* import font */
@font-face {
    src: url("kenvector_future.ttf");
}

/************** general settings for all elements of the specific types **************/

/* all backgrounds default to grey gradient */
.root {
    -fx-font-family: "KenVector Future Regular";
    -fx-background-color: linear-gradient(to bottom, #666666, #F5F5F5);
}

/* all texts shall have one font */
.text {
    -fx-font-family: "KenVector Future Regular";
}

/* default focus for all buttons and textfields */
.button:focused {
    -fx-effect: dropshadow(gaussian, gray, 30, 0, 0, 0);
}

.text-field:focused {
    -fx-effect: dropshadow(gaussian, white, 5, 0, 0, 0);
}

/* set style for title labels in the different screens */
.label.title {
    -fx-font-size: 30;
    -fx-text-fill: orange;
}

.label {
    -fx-font-size: 14;
}

.hyperlink {
    -fx-font-size: 16;
}

.button {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-font-size: 20;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: transparent;
}

.button:pressed {
    -fx-text-fill: gray;
}

.text-field {
    -fx-background-image: url("assets/grey_blue_textfield.png");
    -fx-background-repeat: no-repeat;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: darkgrey;
    -fx-background-radius: 2em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-padding: 1;
}

/************** Definitions for specific style classes **************/

/* colored buttons with a bigger scaling */
.button.redButton {
    -fx-graphic: url("assets/red_button.png");
}

.button.blueButton {
    -fx-graphic: url("assets/blue_button.png");
}

.button.greenButton {
    -fx-graphic: url("assets/green_button.png");
}

.button.greyButton {
    -fx-graphic: url("assets/grey_button.png");
    -fx-text-fill: dimgrey;
}

/* text field image size for login and signup */
.text-field.loginRegister {
    -fx-background-size: 200 38;
}

/***************** lobby specific styles *****************/

/* send button of the chat */
.button.send {
    -fx-graphic: url("assets/blue_chat_button.png");
    -fx-scale-x: 0.65;
    -fx-scale-y: 0.65;
    -fx-font-size: 14;
}

/* text field of the chat (same style like in loginRegister, but another scaling */
.text-field.send {
    -fx-background-size: 220 30;
    -fx-background-image-position: center;
    -fx-background-repeat: no-repeat;
}

/* insert icon for chat button in the userlist next to the usernames */
.button.chatButton {
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
    -fx-background-image-position: center;
    -fx-background-color: transparent;
    -fx-graphic: url("assets/chat_button_icons8.png");
    -fx-font-size: 12;
}

.label.lobby {
    -fx-font-size: 12;
}

.scroll-pane.lobby {
    -fx-border-color: dodgerblue;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-radius: 8px;
}

.tab-pane.lobby {
    -fx-border-color: dimgrey;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-radius: 8px;
}

.scroll-pane.gamelist {
    -fx-border-color: limegreen;
    -fx-border-width: 4px;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
}

/* change join button to "open door" icon with join text below */
.button.joinButton {
    -fx-graphic: url("assets/entrance_icons8.png");
    -fx-scale-x: 0.4;
    -fx-scale-y: 0.4;
    -fx-font-size: 18;
    -fx-text-fill: dimgrey;
}


/**************** rules screen specific styles ****************/

.text-field.rules {
    -fx-background-image: url("ingame_background.png");
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 18;
}

.text-area.rules {
    -fx-background-image: url("ingame_background.png");
    -fx-wrap-text: true;
    -fx-text-fill: midnightblue;
    -fx-font-size: 14;
}

/**************** create game screen specific styles ****************/
.text-field.createGame {
    -fx-background-size: 223 34;
    -fx-font-size: 16;
}

/**************** game lobby screen specific styles ****************/

.label.gameTitle {
    -fx-font-size: 30;
    -fx-text-fill: #F5F5F5;
}

.scroll-pane.memberList > .viewport {
    -fx-border-radius: 15;
    -fx-background-image: url("assets/blue_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 248 335;
    -fx-background-radius: 25;
}

/* gamelobby and ingame chat */

.scroll-pane.gameChat, .scroll-pane.memberList {
    -fx-background-color: transparent;
    -fx-border-radius: 15;
}

.scroll-pane.gameChat > .viewport  {
    -fx-border-radius: 15;
    -fx-background-radius: 25;
    -fx-background-image: url("assets/blue_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 222;
}

.text-field.gameChat{
    -fx-background-size: 270 30;
}

/* TODO: SPACING BETWEEN BUTTON AND OTHER ELEMTENTS ARE NOT CORRECT */
.button.sendGameChat {
    -fx-graphic: url("assets/blue_button.png");
    -fx-scale-x: 0.35;
    -fx-scale-y: 0.55;
    -fx-font-size: 28;
}

/* BAUSTELLE */
.dialog-pane {
    -fx-background-color: #CEF2F2;
    -fx-border-color: #2BD9D9;
    -fx-border-width:2px;
}