.root {
    -fx-font-family: "KenVector Future Regular";
}

.dialog-pane {
    -fx-background-color: #e86a17;
}

.dialog-pane .header-panel {
    -fx-background-color: #e86a17;
    -fx-mark-color: grey;
}

.dialog-pane > .content.label {
    -fx-background-color: #e86a17;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.dialog-pane .label {
    -fx-background-color: #e86a17;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.dialog-pane .button {
    -fx-background-image: url("../assets/grey_button.png");
    -fx-background-size: auto;
    -fx-text-fill: dimgrey;
    -fx-font-size: 18px;
}
