/**************** game lobby screen specific styles ****************/

.scroll-pane.gameChat, .scroll-pane.memberList {
    -fx-background-color: transparent;
}

.scroll-pane.memberList > .viewport {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 250 325;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.combo-box:hover {
    -fx-background-color: darkgrey;
}

.combo-box {
    -fx-background-image: url("../assets/grey_blue_textfield.png");
    -fx-background-size: 190 25;
    -fx-background-repeat: stretch;
}

.combo-box .list-cell:hover {
    -fx-background-color: lightgrey;
}

.check-box.checkboxStyle:selected > .box > .mark {
    -fx-shape: "M2,0L5,4L8,0L10,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
    -fx-background-color: black;
}

.label.spectatorStyle{
    -fx-text-fill:#00FF00 ;
    -fx-border-color: #33D1FF;
}

.label.playersNumberStyle {
    -fx-text-fill: #FFFFFF;
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 240 320;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.label.spectatorTitleStyle {
    -fx-text-fill: #FFFFFF;
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 240 320;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
