/**************** game lobby screen specific styles ****************/

.scroll-pane.gameChat, .scroll-pane.memberList {
    -fx-background-color: transparent;
}

.scroll-pane.memberList > .viewport {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 250 325;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.combo-box:hover {
    -fx-background-color: darkgrey;
}

.combo-box {
    -fx-background-image: url("../assets/grey_blue_textfield.png");
    -fx-background-size: 190 25;
    -fx-background-repeat: stretch;
}

.combo-box .list-cell:hover {
    -fx-background-color: lightgrey;
}
