/************************* ingame screen *************************/

#gameView {
    -fx-background-image: url("../assets/ingame_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1700 1000;
}

/* player's views with resource icons */
#userView {
    -fx-background-image: url("../assets/green_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 426 300;
}

#userView .text {
    -fx-font-size: 18;
}

.button.move {
    -fx-background-image: url("../assets/grey_button.png");
    -fx-background-size: 200 50;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-font-size: 16;
    -fx-text-fill: #666666;
}

#bigButton {
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-background-size: 200 50;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-font-size: 24;
}

#opponentView {
    -fx-background-image: url("../assets/green_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 230 180;
}

#cactus {
    -fx-image: url("../assets/earth_cactus.png");
}

#mars {
    -fx-image: url("../assets/mars_bar.png");
}

#moon {
    -fx-image: url("../assets/moon_rock.png");
}

#neptun {
    -fx-image: url("../assets/neptun_crystals.png");
}

#venus {
    -fx-image: url("../assets/venus_grain.png");
}

.label.tileNumber {
    -fx-background-color: WHITE;
    -fx-background-radius: 5;
    -fx-border-color: BLACK;
    -fx-border-radius: 5;
}

/* bottom of the screen: dice roll */

/* right side of the screen: current move and player, finish move via button */

#currentMove {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 250 60;
}

#currentPlayer {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 250 60;
}

#timer {
    -fx-background-image: url("../assets/grey_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 150 70;
}

#gameTimer {
    -fx-background-image: url("../assets/grey_blue_textfield.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 100 30;
    -fx-background-radius: 10;
}

.label.timer {
    -fx-text-fill: dimgrey;
    -fx-font-size: 24;
}

#gameScreenCountdown {
    -fx-background-size: 150 70;
    -fx-border-width: 4;
    -fx-background-color: #F2F3F5;
    -fx-border-color: #0096FF;

}

#remainingTime {
    -fx-font-size: 34;
    -fx-text-fill: dimgrey;
}

#tradeView {
    -fx-background-image: url("../assets/green_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 150 281;
}

#offerPlayer {
    -fx-background-image: url("../assets/white_green_button.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 210 25;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.1;
    -fx-font-size: 14;
    -fx-text-fill: #666666;
}

#offerBank {
    -fx-background-image: url("../assets/white_green_button.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 210 25;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.1;
    -fx-font-size: 14;
    -fx-text-fill: #666666;
}

#spectatorNameId {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 180 60;
}

#zoomContainer {
    -fx-background-image: url("../assets/yellow_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 120 100;
}

#zoomButton {
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
}

#iconFrame {
    -fx-border-color: WHITE;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}

#foldOutPaneId {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 200 60;

}

#spectatorTitleId {
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
}

#paneTradingId {
    -fx-background-image: url("../assets/green_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 220 180;
}

#tradingFoldOutId {
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-text-fill: WHITE;
}


#chatPaneFoldOut {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-size: 200 60;
}

#imageChatNotification {
    -fx-background-color: transparent;
}
