#background {
    -fx-background-image: url("../assets/ingame_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1100 700;
}

/*noinspection ALL*/
.tileButton {
    -fx-background-color: #d2dcde;
    -fx-text-fill: green;
}

/*noinspection ALL*/
.harborButton {
    -fx-background-color: #d2dcde;
    -fx-text-fill: orange;
}

/*noinspection ALL*/
.cancelTileButton {
    -fx-text-fill: #450606;
}

/*noinspection ALL*/
.numberField {
    -fx-background-image: url("../assets/grey_blue_textfield.png");
    -fx-background-size: cover;
    -fx-text-fill: green;
}

#map {
    -fx-background-color: TRANSPARENT;
    -fx-background: TRANSPARENT;
}

#templateMenu {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 220 220;
}

#headline {
    -fx-text-fill: white;
    -fx-font-size: 40;
}

#mapName {
    -fx-text-fill: white;
}
