/*.button {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-font-size: 20;
    -fx-text-fill: #F5F5F5;
}*/

.tileButton {
    -fx-background-color: #d2dcde;
    -fx-text-fill: green;
}

.harborButton {
    -fx-background-color: #d2dcde;
    -fx-text-fill: orange;
}

