#mapScrollPane {
    -fx-background-color: TRANSPARENT;
    -fx-background: TRANSPARENT;
}

#mapTemplateViewBackground {
    -fx-background-image: url("../assets/ingame_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1100 700;
}

#controlBox {
    -fx-background-image: url("../assets/blue_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 220 220;
}

#backButton {
    -fx-background-image: url("../assets/red_button.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

#zoomBox {
    -fx-background-image: url("../assets/yellow_panel.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 160 40;
}

#zoomButton {
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
}
